[data-color-scheme="light"] {
    --surface-1: var(--light-surface-1);
    --surface-2: var(--light-surface-2);
    --surface-3: var(--light-surface-3);
    --accent-contrast: var(--light-accent-contrast);
    --accent-hover: var(--light-accent-hover);
    --accent-active: var(--light-accent-active);
    --accent-outline: var(--light-accent-outline);
    --strong-text: var(--light-strong-text);
    --body-text: var(--light-body-text);
    --weak-text: var(--light-weak-text);

    color-scheme: light;
}

[data-color-scheme="dark"] {
    --surface-1: var(--dark-surface-1);
    --surface-2: var(--dark-surface-2);
    --surface-3: var(--dark-surface-3);
    --accent-contrast: var(--dark-accent-contrast);
    --accent-hover: var(--dark-accent-hover);
    --accent-active: var(--dark-accent-active);
    --accent-outline: var(--dark-accent-outline);
    --strong-text: var(--dark-strong-text);
    --body-text: var(--dark-body-text);
    --weak-text: var(--dark-weak-text);

    color-scheme: dark;
}

[data-cloak] {
    display: none;
}

button {
    border: 1px solid gray;
    border-radius: 3px;
}

html {
    color-scheme: dark;
    font-family: "Inter", sans-serif;
}

pre {
    background: #fff1;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 0.75rem;
    position: relative;

    button {
        position: absolute;
        right: 1rem;
        height: 2rem;
        width: 2rem;
        padding: 0;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: calc(0.25rem - 1px);
            left: calc(0.25rem - 1px);
            width: 1.5rem;
            height: 1.5rem;
            background: currentColor;
            mask-image: url("/svg/copy.svg");
            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;
        }

        &.copied::before {
            mask-image: url("/svg/check.svg");
        }
    }
}

[role="form"] {
    fieldset {
        display: grid;
        justify-content: center;
        grid-template-columns: auto 1fr;
        margin: 0;
        margin-bottom: 0.5rem;

        label {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: span 2;
            gap: 0.5rem;
            align-items: center;

            span {
                justify-self: end;

                [data-text] {
                    font-feature-settings: "tnum";
                    letter-spacing: -0.1ch;
                }
            }
        }
    }

    .form-columns {
        display: flex;
        flex-wrap: wrap;

        > fieldset {
            flex-basis: 30ch;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}

#colors {
    list-style: none;
    margin: 3rem auto;
    max-width: 60rem;
    width: calc(100% - 24px);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    container: list / inline-size;

    .color {
        display: grid;
        grid-template-areas:
            "actions actions"
            "light dark";
        grid-template-columns: repeat(auto-fit, minmax(10ch, calc(50% - 0.5rem)));
        column-gap: 1rem;
        row-gap: 0.5rem;

        .actions {
            grid-area: actions;
            justify-self: start;
        }

        [data-color-scheme] {
            background: var(--surface-1);
            color: var(--body-text);
            border-radius: 7px;
            overflow: hidden;
            display: grid;
            grid-template-areas:
                "header header"
                "aside main";

            header,
            aside,
            main {
                padding: 0.5rem;
            }

            header {
                grid-area: header;
                background: var(--surface-3);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            aside {
                background: var(--surface-2);
                grid-area: aside;
                display: grid;
                align-content: space-between;
                min-width: 8ch;

                .menu-main {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: start;
                }
            }

            main {
                grid-area: main;
            }

            h2 {
                margin: 0;
                color: var(--strong-text);
            }

            a {
                color: var(--accent-outline);
                text-decoration: none;
            }

            strong {
                color: var(--strong-text);
            }

            small {
                color: var(--weak-text);
            }

            button {
                background: var(--accent);
                color: var(--accent-contrast);
                border: none;
                height: 2em;
                padding-block: 0;
                padding-inline: 0.625em;
                border-radius: 3px;
                box-shadow: 0 0.0625em 0.25em -0.0625em #0008;

                &:hover {
                    background: var(--accent-hover);
                }

                &:active {
                    background: var(--accent-active);
                }
            }
        }
    }
}

.copied {
    animation: copied 3000ms;
}

.spin {
    animation: spin 2000ms linear infinite;
}

@keyframes copied {
    from {
        border-color: lime;
        box-shadow: 0 0.125rem 1rem oklch(from lime l c h / 0.25);
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@container (width < 718px) {
    #colors .color {
        grid-template-columns: 1fr;
        grid-template-areas:
            "actions"
            "light"
            "dark";
    }
}
