<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boosted links</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <style>
        html {
            color-scheme: dark;
            font-family: sans-serif;
        }
    </style>
    <script>
        htmx.defineExtension('override', {
            onEvent: function (name, evt) {
                if (name === "htmx:beforeProcessNode") {
                    const target = evt.target;
                    if (!target.href) throw new Error("link must have href");
                    if (!target.getAttribute("hx-get")) throw new Error("link must have hx-get");
                    if (!target.getAttribute("hx-push-url")) target.setAttribute("hx-push-url", "true");
                    target.addEventListener("click", (e) => e.preventDefault());
                }
            }
        })
    </script>
</head>

<body hx-boost="true">
    <h1>Boosted links</h1>
    <p><a href="#1">This link goes to #1</a></p>
    <p>
        <a href="#1" hx-get="#2" hx-push-url="true" hx-swap="none" hx-on:click="event.preventDefault()">
            This link goes to #1 but boosted to #2
        </a>
    </p>
    <p>
        <a href="#1" hx-get="#2" hx-ext="override" hx-swap="none">
            This link goes to #1 but boosted to #2 and is controlled by htmx extension
        </a>
    </p>
</body>

</html>