@function derive($color, $lightness: 0, $desaturate: 0, $alpha: 1) {
    @if $lightness < 0 {
        @return oklch(from $color calc(l * (1 + $lightness)) calc(c * (1 + $lightness) * (1 - $desaturate)) h / $alpha);
    }

    @else {
        @return oklch(from $color calc(l + (1 - l) * $lightness) calc(c * (1 - $lightness) * (1 - $desaturate)) h / $alpha);
    }
}

:root {
    --shadow-size: 0.0625rem 0.125rem 0.375rem -0.125rem;
    --border-radius: 3px;
}

[data-color-scheme=light] {
    --neutral: oklch(0.85 0.02 75);
    --neutral-hover: #{derive(var(--neutral), -0.1)};
    --neutral-active: #{derive(var(--neutral), -0.2)};
    --neutral-outline: #{derive(var(--neutral), -0.1)};
    --neutral-contrast: var(--strong-text);
    --neutral-shadow: var(--shadow-size) #{derive(var(--neutral), -0.2, $alpha: 0.5)};
    --primary: oklch(0.45 0.35 350);
    --primary-hover: #{derive(var(--primary), -0.1, 0.2)};
    --primary-active: #{derive(var(--primary), -0.3, 0.2)};
    --primary-outline: #{derive(var(--primary), -0.1)};
    --primary-contrast: #{derive(var(--primary), 0.95)};
    --primary-shadow: var(--shadow-size) #{derive(var(--primary), -0.8, $alpha: 0.5)};
    --secondary: oklch(0.5 0.35 180);
    --secondary-hover: #{derive(var(--secondary), -0.1, 0.2)};
    --secondary-active: #{derive(var(--secondary), -0.3, 0.2)};
    --secondary-outline: #{derive(var(--secondary), -0.1)};
    --secondary-contrast: #{derive(var(--secondary), 0.95)};
    --secondary-shadow: var(--shadow-size) #{derive(var(--secondary), -0.2, $alpha: 0.5)};
    --surface-3: #{derive(var(--neutral), 0.4)};
    --surface-2: #{derive(var(--surface-3), 0.3)};
    --surface-1: #{derive(var(--surface-2), 0.5)};
    --body-text: #{derive(var(--neutral), -0.45)};
    --strong-text: #{derive(var(--neutral), -0.5)};
    --selection: #{derive(var(--primary), 0.3, 0.3)};
}

[data-color-scheme=dark] {
    --neutral: oklch(0.35 0.02 75);
    --neutral-hover: #{derive(var(--neutral), 0.15)};
    --neutral-active: #{derive(var(--neutral), -0.15)};
    --neutral-outline: #{derive(var(--neutral), 0.4)};
    --neutral-contrast: var(--strong-text);
    --neutral-shadow: var(--shadow-size) #{derive(var(--neutral), -0.6, $alpha: 0.5)};
    --primary: oklch(0.45 0.35 350);
    --primary-hover: #{derive(var(--primary), -0.1, 0.2)};
    --primary-active: #{derive(var(--primary), -0.3, 0.2)};
    --primary-outline: #{derive(var(--primary), 0.15)};
    --primary-contrast: #{derive(var(--primary), 0.95)};
    --primary-shadow: var(--shadow-size) #{derive(var(--primary), -0.4, $alpha: 0.5)};
    --secondary: oklch(0.42 0.35 180);
    --secondary-hover: #{derive(var(--secondary), -0.1, 0.2)};
    --secondary-active: #{derive(var(--secondary), -0.3, 0.2)};
    --secondary-outline: #{derive(var(--secondary), 0.4)};
    --secondary-contrast: #{derive(var(--secondary), 0.9)};
    --secondary-shadow: var(--shadow-size) #{derive(var(--secondary), -0.4, $alpha: 0.5)};
    --surface-3: #{derive(oklch(0.5 0.02 75), -0.37, 0.3)};
    --surface-2: #{derive(var(--surface-3), -0.15)};
    --surface-1: #{derive(var(--surface-2), -0.15)};
    --body-text: #{derive(oklch(0.5 0.02 75), 0.6)};
    --strong-text: #{derive(oklch(0.5 0.02 75), 0.7)};
    --selection: oklch(from var(--primary) l calc(c - 0.2) h);
}

::selection {
    background: var(--selection);
    color: var(--primary-contrast);
}

:focus-visible {
    outline: 2px solid var(--strong-text);
}

html {
    font-family: "Inter", sans-serif;
    background: var(--surface-1);
    color: var(--body-text);
    line-height: 1.625;
    accent-color: var(--primary);
}

body {
    margin: 0;
    margin-bottom: 3rem;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
button,
input,
select {
    letter-spacing: calc(0.07 * (1rem - 1em) + 0.03rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--strong-text);
    margin-top: 1.5em;
    margin-bottom: 1em;
}

a {
    color: var(--secondary-outline);
    cursor: pointer;
    font-weight: 500;
    text-decoration-thickness: 1px;
    text-decoration-color: derive(var(--secondary-outline), $alpha: 0.5);

    &:hover {
        text-decoration-color: var(--secondary-outline);
    }

    &:active {
        opacity: 0.75;
    }
}

button,
input,
select {
    // border-radius: var(--border-radius);
    font-weight: 500;
    border: 1px solid derive(var(--neutral-outline), $alpha: 0.5);
    box-shadow: var(--neutral-shadow);
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0.5rem;
}

button {
    background: var(--neutral);
    color: var(--neutral-contrast);
    user-select: none;

    &:hover {
        background: var(--neutral-hover);
    }

    &:active {
        background: var(--neutral-active);
    }

    &[data-color=primary] {
        background: var(--primary);
        color: var(--primary-contrast);
        border-color: derive(var(--primary-outline), $alpha: 0.5);
        box-shadow: var(--primary-shadow);

        &:hover {
            background: var(--primary-hover);
        }

        &:active {
            background: var(--primary-active);
        }
    }

    &[data-color=secondary] {
        background: var(--secondary);
        color: var(--secondary-contrast);
        border-color: derive(var(--secondary-outline), $alpha: 0.5);
        box-shadow: var(--secondary-shadow);

        &:hover {
            background: var(--secondary-hover);
        }

        &:active {
            background: var(--secondary-active);
        }
    }

    &[data-color=transparent] {
        --a: 0;
        background: oklch(from var(--body-text) l c h / var(--a));
        color: var(--strong-text);
        border-color: transparent;
        box-shadow: none;

        &:hover {
            --a: 0.15;
        }

        &:active {
            --a: 0.35;
        }
    }
}

input {
    background: var(--surface-2);
    color: var(--strong-text);

    &::placeholder {
        color: var(--neutral-outline);
        opacity: 1;
    }

    &:not(:disabled) {
        &:hover {
            background: var(--surface-3);
        }
    }
}

input[type=checkbox] {
    appearance: none;
    height: 1.5em;
    width: 1.5em;
    position: relative;
    cursor: pointer;
    color: var(--primary-contrast);
    background: var(--neutral);

    &::before {
        content: "\2713";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        place-items: center;
        font-weight: 700;
    }

    &:checked::before {
        opacity: 1;
    }

    &:not(:disabled) {
        &:hover {
            background: var(--neutral-hover);
        }

        &:active {
            background: var(--neutral-active);
        }
    }

    &:checked {
        background: var(--primary);
        border-color: oklch(from var(--primary-outline) l c h / 0.4);
        box-shadow: var(--primary-shadow);

        &:not(:disabled) {
            &:hover {
                background: var(--primary-hover);
            }

            &:active {
                background: var(--primary-active);
            }
        }
    }

    &[data-color=secondary]:checked {
        background: var(--secondary);
        border-color: oklch(from var(--secondary-outline) l c h / 0.4);
        box-shadow: var(--secondary-shadow);
        color: var(--secondary-contrast);

        &:not(:disabled) {
            &:hover {
                background: var(--secondary-hover);
            }

            &:active {
                background: var(--secondary-active);
            }
        }
    }
}

select {
    background: var(--neutral);
    box-shadow: var(--neutral-shadow);
    color: var(--neutral-contrast);

    &:hover {
        background: var(--neutral-hover);
    }

    &:active {
        background: var(--neutral-active);
    }
}

label {
    font-weight: 500;
    user-select: none;
}

header[role=banner] {
    background: var(--primary);
    box-shadow: var(--primary-shadow);
    position: sticky;
    top: 0;
    z-index: 1;

    :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    a {
        color: var(--primary-contrast);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    select {
        padding-block: 1rem;

        &[data-color=transparent] {
            background: var(--primary);
            color: var(--primary-contrast);
            border-color: transparent;
            box-shadow: none;

            &:hover {
                background: var(--primary-hover);
            }

            &:active {
                background: var(--primary-active);
            }
        }
    }
}

.surface-1,
.surface-2,
.surface-3 {
    padding: 1rem;
}

.surface-1 {
    background: var(--surface-1);
}

.surface-2 {
    background: var(--surface-2);
}

.surface-3 {
    background: var(--surface-3);
}

.auto-width {
    width: calc(100% - 2rem);
    max-width: 60rem;
    margin-inline: auto;
}