html,
[data-color-scheme="dark"] {
    color-scheme: dark;

    --primary: oklch(0.5 0.2 264);
    --primary-hover: color-mix(in oklab, var(--primary), white 15%);
    --primary-active: color-mix(in oklab, var(--primary), black 15%);
    --primary-contrast: color-mix(in oklab, var(--primary), white 90%);
    --primary-outline: color-mix(in oklab, var(--primary), white 40%);

    --neutral: oklch(0.5 0.02 264);
    --neutral-hover: color-mix(in oklab, var(--neutral), white 15%);
    --neutral-active: color-mix(in oklab, var(--neutral), black 15%);
    --neutral-contrast: color-mix(in oklab, var(--neutral), white 90%);
    --neutral-outline: var(--strong-text);

    --surface-1: color-mix(in oklab, var(--neutral), black 50%);
    --surface-2: color-mix(in oklab, var(--surface-1), white 10%);
    --surface-3: color-mix(in oklab, var(--surface-2), white 10%);
    --body-text: color-mix(in oklab, var(--neutral), white 60%);
    --strong-text: var(--neutral-contrast);
}
