@import url("color-scheme-light.css") layer(theme) (scripting: none) and (prefers-color-scheme: light),
    (scripting: enabled);
@import url("color-scheme-dark.css") layer(theme) (scripting: none) and (prefers-color-scheme: dark),
    (scripting: enabled);

@layer reset, components, utilities;

:root {
    --border-radius: 3px;
}

html {
    font-family: "Inter", sans-serif;
    background: var(--surface-1);
    color: var(--body-text);
    overflow: hidden;
}

body {
    grid-template-areas:
        "topbar"
        "main"
        "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--strong-text);

    &:has(+ hr) {
        margin-bottom: 0.25em;
    }
}

:is(h1, h2, h3, h4, h5, h6) + hr {
    margin-bottom: 2rem;
}

.topbar {
    grid-area: topbar;
    background: var(--surface-3);
    padding-block: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > h1 {
            margin: 0;
        }
    }
}

.sidebar {
    grid-area: sidebar;
    padding-inline: 1rem;
    background: var(--surface-2);
    position: sticky;
    bottom: 0;
    z-index: 2;
    max-height: 75dvh;

    > div {
        display: grid;
        grid-template-areas:
            "heading control"
            "list list";
        grid-template-rows: auto 1fr;
        justify-content: space-between;
        padding-top: 1rem;

        > h2 {
            grid-area: heading;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        > button {
            grid-area: control;

            &:not([aria-expanded="true"]) .icon {
                rotate: 180deg;
            }
        }

        > nav {
            grid-area: list;
            overflow: auto;
            max-height: 40svh;

            &:not([aria-hidden="true"]) {
                display: none;
            }

            > ul {
                list-style: none;
                padding-left: 1rem;
                margin-top: 0;
            }
        }
    }
}

.main {
    grid-area: main;
    overflow: auto;

    > div {
        margin-bottom: 2rem;

        > [id] {
            scroll-margin: 1rem;
        }
    }
}

[data-rounded] {
    border-radius: 9999px;
}

[x-cloak] {
    display: none;
}

html:not([data-color]),
[data-color="neutral"] {
    --color: var(--neutral);
    --color-hover: var(--neutral-hover);
    --color-active: var(--neutral-active);
    --color-outline: var(--neutral-outline);
    --color-contrast: var(--neutral-contrast);
}

[data-color="primary"] {
    --color: var(--primary);
    --color-hover: var(--primary-hover);
    --color-active: var(--primary-active);
    --color-outline: var(--primary-outline);
    --color-contrast: var(--primary-contrast);
}

table {
    th,
    td {
        padding-inline: 0.5rem;
    }
}
