:root {
    --side-margins: 1rem;
}

html {
    color-scheme: dark;
    font-family: "Helvetica", "Inter", sans-serif;
}

body {
    margin-inline: var(--side-margins);
}

textarea {
    display: block;
    text-align: start;
    font-family: inherit;
    padding: 0.5rem;
    width: calc(100% - 2 * var(--side-margins));
}

p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#selected {
    display: inline-block;
    width: 4ch;
}