:root {
    --border-width: 1px;
    --surface-1: #111;
    --surface-2: #222;
    --surface-3: #333;
    --neutral: #444;
    --neutral-hover: #555;
    --neutral-active: #333;
    --neutral-border: #777;
    --neutral-disabled: #888;
    --success: oklch(from var(--neutral) l 0.1 155);
    --success-hover: oklch(from var(--neutral-hover) l 0.1 155);
    --success-active: oklch(from var(--neutral-active) l 0.1 155);
    --success-border: oklch(from var(--neutral-border) l 0.1 155);
    --weak-text: #888;
    --animation-duration-in: 150ms;
    --animation-duration-out: 75ms;
    --animation-delay-flip: 25ms;
    --transition-duration: 200ms;
}

:focus-visible {
    outline: 2px solid currentColor;
}

html {
    color-scheme: dark;
    font-family: "Inter", sans-serif;
    background: var(--surface-1);
    line-height: 1.5;
    scrollbar-gutter: stable;
}

html:has(#overlay .alert) {
    overflow: hidden;
}

menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu[role="menu"] {
    background: var(--neutral);
    padding-block: 0.125rem;
    padding-inline: 0.25rem;
    border-radius: 7px;
    border: var(--border-width) solid var(--neutral-border);
}

.button,
.checkbox,
.textfield {
    border: var(--border-width) solid var(--neutral-border);
    font-size: 0.875rem;
    font-family: inherit;
    line-height: inherit;
    border-radius: 7px;
    padding-block: 0;
    padding-inline: 0.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 1.875em;
    min-width: 1.875em;
    box-sizing: border-box;
    position: relative;

    &:hover {
        background: var(--neutral-hover);
    }

    &:disabled {
        color: var(--neutral-disabled);
        pointer-events: none;
    }
}

.checkbox {
    appearance: none;
    background: var(--surface-3);

    &::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        mask-image: url("/svg/check.svg");
        background: transparent;
    }

    &:hover {
        background: var(--neutral-hover);
    }

    &:active {
        background: var(--neutral-active);
    }

    &:checked {
        background: var(--success);
        border-color: var(--success-border);

        &::before {
            background: currentColor;
        }

        &:hover {
            background: var(--success-hover);
        }

        &:active {
            background: var(--success-active);
        }
    }
}

.textfield {
    background: var(--surface-3);
}

.button {
    background: var(--neutral);
    user-select: none;

    &:active {
        background: var(--neutral-active);
    }
}

.code {
    background: var(--surface-3);
    padding: 0.25rem;
    border-radius: 3px;
}

[data-ui="menu.item"],
[data-ui="menu.submenu"] {
    font-family: inherit;
    font-size: 0.875rem;
    line-height: inherit;
    background: transparent;
    border: var(--border-width) solid transparent;
    border-radius: 3px;
    text-align: start;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 0;
    padding-inline: 0.25rem;
    color: inherit;
    text-decoration: inherit;
    user-select: none;
    width: 100%;
    box-sizing: border-box;

    &:hover {
        background: var(--neutral-hover);
    }

    &:active {
        background: var(--neutral-active);
    }
}

[data-ui="menu.item"]:disabled {
    pointer-events: none;
    color: var(--neutral-disabled);
}

ui-menu {
    position: relative;
    display: inline-grid;
    white-space: nowrap;
}

ui-popover {
    display: none;
    position: absolute;
    z-index: 1;

    &[visible] {
        display: grid;
    }
}

ui-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: -0.125em;
    stroke: currentColor;
    stroke-width: 3;
    fill: transparent;

    &.checked {
        stroke: tomato;
        fill: coral;
    }
}

.tabular {
    font-feature-settings: "tnum" 1;
    letter-spacing: -0.0625ch;
}

.weak {
    color: var(--weak-text);
}

dialog {
    border: none;
    padding: 0;
}

.alert {
    place-self: center;
    display: grid;
    align-items: center;
    background: var(--surface-3);
    padding-inline: 0.75rem;
    border-radius: 3px;
    grid-template-areas: "heading action" "message message";
    grid-template-columns: 1fr auto;
    width: calc(100% - 24px);
    box-sizing: border-box;
    max-width: 40ch;
    box-shadow: 0 0.5rem 3rem -0.5rem black;
    animation: scale-in var(--transition-duration) ease;
}

.notification {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 30ch;

    .button::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        mask-image: url("/svg/cross.svg");
        background: currentColor;
    }
}

.entering {
    animation: enter var(--animation-duration-in) ease forwards;
    pointer-events: none;
}

.leaving {
    animation: leave var(--animation-duration-out) ease forwards;
    pointer-events: none;
    position: absolute;
}

.flipping {
    animation: flip var(--animation-duration-out) var(--animation-delay-flip) linear backwards;
}

#notifications {
    position: relative;
    list-style: none;
    padding: 0;
    height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    pointer-events: none;

    &:has(.alert) {
        transition-property: backdrop-filter, background;
        transition-duration: var(--transition-duration);
        transition-timing-function: ease;
        pointer-events: all;
        background: #222a;
        backdrop-filter: blur(2px);
    }
}

#timestamps {
    display: grid;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
}

#tasklist {
    max-width: 20rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
        border-radius: 3px;
        display: flex;
        align-items: center;

        button[data-action="delete"]::before {
            content: "";
            position: absolute;
            width: 1rem;
            height: 1rem;
            background: currentColor;
            mask-image: url("/svg/cross.svg");
        }
    }
}

@keyframes scale-in {
    from {
        opacity: 0;
        scale: 0.9;
    }
}

@keyframes leave {
    to {
        opacity: 0;
        translate: 100px;
        transform-origin: center;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        translate: 100px;
        transform-origin: center;
    }
}

@keyframes flip {
    from {
        translate: var(--flip-x, 0px) var(--flip-y, 0px);
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --animation-duration-in: 0ms;
        --animation-duration-out: 0ms;
        --animation-delay-flip: 0ms;
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --animation-duration-in: 0ms;
        --animation-duration-out: 0ms;
        --animation-delay-flip: 0ms;
        --transition-duration: 0ms;
    }
}
