i.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background: currentColor;
    mask-size: contain;
}

i.icon.chevron {
    mask-image: url("/svg/chevron.svg");
}

i.icon.copy {
    mask-image: url("/svg/copy.svg");
}

i.icon.check {
    mask-image: url("/svg/check.svg");
}

i.icon.hamburger {
    mask-image: url("/svg/hamburger.svg");
}

i.icon.new-tab {
    mask-image: url("/svg/new-tab.svg");
}

i.icon.search {
    mask-image: url("/svg/search.svg");
}

i.icon.spinner {
    mask-image: url("/svg/spinner.svg");
}
