html {
    color-scheme: dark;
    font-family: sans-serif;
}

p {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

[data-font-size=small1] {
    font-size: 0.5rem;
    --rem: 0.5;
}

[data-font-size=normal] {
    font-size: 1rem;
    --rem: 1;
}

[data-font-size=large1] {
    font-size: 2rem;
    --rem: 2;
}

[data-font-size=large2] {
    font-size: 3rem;
    --rem: 3;
}

[data-icon] {
    width: 2em;
    height: 2em;
    stroke-width: calc(0.0625rem * 1 / var(--rem, 1) * 0.618 + 1px);
    stroke: currentColor;
}