:root {
    --border-radius: 9px;
    --input-height: 1.5rem;
}

html {
    color-scheme: dark;
    font-family: "Inter", sans-serif;
    background: #222;
}

button,
input {
    height: var(--input-height);
    min-width: var(--input-height);
    font-family: inherit;
    font-size: 1rem;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #fff8;
    background: #222;
    box-sizing: border-box;

    &:not(:disabled) {
        &:hover {
            background: #444;
        }
    }
}

button:not(.icon),
input:not([type=radio], [type=checkbox]) {
    padding-inline: 0.25rem;
}

button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

input[type=checkbox] {
    appearance: none;
    width: var(--input-height);
    height: var(--input-height);
    margin: 0;
    position: relative;

    &:checked {
        background: #0f04;

        &:not(:disabled) {
            &:hover {
                background: #0f08;
            }
        }

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: "\2713";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
}

label {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 0.125rem;
    font-size: 0.875rem;
    vertical-align: bottom;
}

.text-center {
    text-align: center;
}

.tasklist {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 50ch;
    margin-inline: auto;

    > li:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    > li:last-of-type {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        box-sizing: border-box;
        padding: 0.5rem;
        background: #333;

        &.completed {
            background: #0f04;
        }

        &.sortable-ghost {
            background: oklch(0.7 0.2 260 / 0.5);
        }

        span.icon {
            width: var(--input-height);
            height: var(--input-height);
            background: currentColor;
            mask-image: url("/svg/hamburger.svg");
            mask-size: cover;
            cursor: grab;
        }

        input[type=text] {
            flex: 1;
            background: transparent;
            border-color: transparent;
        }
    }
}