html {
    color-scheme: dark;
    font-family: "Inter", sans-serif;
}

table {
    --row-height: 1.5rem;
    --rows: 14;
    height: calc(var(--row-height) * (var(--rows) + 1));
    overflow: hidden;
    grid-template-columns: auto auto;
    align-content: start;
    background: #222;
    border: 1px solid #777;
    border-radius: 7px;
    box-sizing: content-box;
    font-feature-settings: "tnum";
}

thead tr,
tbody tr:nth-child(2n) {
    background: #333;
}

tbody tr:not(.loading):hover td {
    background: #444;
}

table,
thead,
tbody,
tr {
    display: grid;
}

thead,
tbody,
tr {
    grid-template-columns: subgrid;
    grid-column: span 2;
}

tbody {
    overflow: auto;
    height: calc(var(--row-height) * var(--rows));
}

th,
td {
    height: var(--row-height);
    padding-block: 0.25rem;
    padding-inline: 0.375rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

th {
    border-bottom: 1px solid #777;
}

td:nth-child(2) {
    letter-spacing: -0.05ch;
}

.loading {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
}

.loading td {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loading td::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: currentColor;
    mask-image: url("/svg/spinner.svg");
    animation: spin 1s linear infinite;
}

.loading:only-child {
    height: 100%;
    place-content: center;
}

.weak {
    color: #888;
    font-weight: normal;
    font-size: 1rem;
    margin-left: 0.5rem;
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}
