:root {
    --side-margin: 1rem;
    --print-width: clamp(200px, calc(100% - 2 * var(--side-margin)), 80ch);
}

[data-color-scheme=light] {
    --danger: crimson;
}

[data-color-scheme=dark] {
    --danger: lightcoral;
    color-scheme: dark;
}

.danger {
    color: var(--danger);
}

html {
    font-family: sans-serif;
    line-height: 1.625;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small,
button,
select,
input {
    letter-spacing: calc(0.1 * (1rem - 1em) + 0.04rem);
}

body {
    height: 100svh;
    margin: 0;
}

#root {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page {
    width: 100%;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-wrapper {
    display: grid;
    justify-items: center;
}

.sidebar {
    width: var(--print-width);
}

.sidebar > .links {
    display: flex;
    gap: 1rem;
}

.text {
    width: var(--print-width);
}

.auto-width {
    width: var(--print-width);
}

@media screen and (min-width: 40ch) {
    #app-wrapper {
        display: flex;
        width: var(--print-width);
        gap: 4rem;
    }

    .sidebar {
        width: auto;
    }

    .sidebar > .links {
        flex-direction: column;
    }
}